
.svg {
  position: absolute;
  width: 100%;
  height: 100%;
}

.node--leaf circle {
  fill: #999;
}

.node--internal circle {
  fill: #555;
}

.node text {
  font: 10px sans-serif;
}

.node--internal circle {
  fill: #555;
}

.node--internal text {
  text-shadow: 0 1px 0 #fff, 0 -1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff;
}

.link {
  /*
  fill: none;
  stroke: #555;
  stroke-opacity: 0.4;
  stroke-width: 1.5px;
  */

  fill: none;
  stroke: #555;/*#ddd;*/
  stroke-width: 0.125vh;
  transition: opacity 300ms ease;
    transition-property: opacity;
    transition-duration: 300ms;
    transition-timing-function: ease;
    transition-delay: 0s;
}

.link:hover {
  stroke: orangered;
}

.centralSheet {
  stroke: orangered;
  fill: orangered;
}

/*hover central icon*/
.centralSheet:hover{
  stroke: #555;
  fill: #555;
}

#centralImgText {
  pointer-events: none;
}

.centralImage:hover .centralText {
  color: white;
}

/*central icon*/
.centralText {
  color: white;
  text-align: center;
  /*font-size: 46px;*/
  font-weight: bold;
  resize: none;
  /*word-break: break-all;*/
  word-break: break-word;
}

.foreiginObj {
  pointer-events: none;
}

body {
  font-family: Neue Helvetica W01,Helvetica Neue NT,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
}

#chart {
  width: 55%;
  height: 100%;
  position: absolute;
  top: 1%;
  left: 1%;
  vertical-align: baseline;
  float: left;
}

#page {
  width: 45%;
  left: 55%;
  transition-duration: .3s;
  transition-property: left, width;
  float: right;
}